doctype html
html
    head
        title Abhay Dance Academy
    block scripts
    block style
        
    body
        nav#navbar 
            ul 
                li #[a(href = '/') Home]
                li #[a(href = '/') About]
                li #[a(href = '/') Servies]
                li #[a(href = '/') Class Info]
                li #[a(href = '/contact') Contact Us]

        block content
        footer#footer 
            | Copyright 2024 AbhayDS.com | All rights reserved